@import '../../assets/sass/variables';

.page-single-book {
  padding: 2rem;

  .top-link {
    display: block;
    margin-bottom: 2rem;
    color: $accent-color;
    font-size: 1.5rem;
    &::before {
      vertical-align: middle;
      content: '';
      background-image: url('../../assets/arrow-left-accent.svg');
      display: inline-block;
      width: 24px;
      height: 24px;
      font-size: inherit;
      margin-bottom: 2px;
      margin-right: 0.5rem;
    }
  }

  .book-container {
    display: flex;
    flex-direction: column;

    .cover-container {
      img {
        width: 100%;
      }
      margin-bottom: 2rem;
    }

    .info-container {
      & > .info-block {
        margin-bottom: 0.8rem;
        font-size: 1rem;
      }

      .info-heading {
        margin-right: 1rem;
      }

      .info-value {
        font-weight: 500;
      }

      .author-books-block {
        margin-top: 1.5rem;
        & > span {
          display: block;
          font-weight: 500;
          margin: 1.5rem 0;
          font-size: 1.5rem;
        }
        a {
          display: block;
          margin-bottom: 0.5rem;
          font-size: 1rem;
          color: $accent-color;
        }
      }
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;
      .cover-container {
        margin-right: 3rem;
        max-width: 40%;
        margin-bottom: 0;
      }
      .info-container {
        & > .info-block {
          font-size: 1.5rem;
          margin-bottom: 1.5rem;
        }
        .author-books-block {
          margin-top: 3rem;
          a {
            margin-bottom: 1rem;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
