@import '../../assets/sass/variables';

.page-single-book {
  padding: 2rem;

  .top-link {
    display: block;
    margin-bottom: 2rem;
    color: $accent-color;
    font-size: 1.5rem;
    &::before {
      vertical-align: middle;
      content: '';
      background-image: url('../../assets/arrow-left-accent.svg');
      display: inline-block;
      width: 24px;
      height: 24px;
      font-size: inherit;
      margin-bottom: 2px;
      margin-right: 0.5rem;
    }
  }

  .book-container {
    display: flex;
  }

  .cover-container {
    img {
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      margin-right: 3rem;
      max-width: 40%;
    }
  }

  .info-container {
    & > .info-block {
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
    }

    .info-heading {
      margin-right: 1rem;
    }

    .info-value {
      font-weight: 500;
    }

    .author-books-block {
      margin-top: 3rem;
      & > span {
        display: block;
        font-weight: 500;
        margin: 1.5rem 0;
        font-size: 1.5rem;
      }
      a {
        display: block;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        color: $accent-color;
      }
    }
  }
}
